@font-face
  font-family: 'Kanit'
  src: local('Kanit Light'), local('Kanit-Light'), url('/src/assets/fonts/Kanit/Kanit-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Kanit'
  src: local('Kanit Regular'), local('Kanit-Regular'), url('/src/assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Kanit'
  src: local('Kanit Medium'), local('Kanit-Medium'), url('/src/assets/fonts/Kanit/Kanit-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Kanit'
  src: local('Kanit SemiBold'), local('Kanit-SemiBold'), url('/src/assets/fonts/Kanit/Kanit-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Kanit'
  src: local('Kanit Bold'), local('Kanit-Bold'), url('/src/assets/fonts/Kanit/Kanit-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Kanit'
  src: local('Kanit ExtraBold'), local('Kanit-ExtraBold'), url('/src/assets/fonts/Kanit/Kanit-ExtraBold.ttf') format('truetype')
  font-weight: 800
  font-style: normal
  font-display: swap

h1
  font-family: 'Kanit', 'Calibri Light', sans-serif
  font-weight: 800

h2
  font-family: 'Kanit', 'Calibri Light', sans-serif
  font-weight: 700

h3
  font-family: 'Kanit', 'Calibri Light', sans-serif
  font-weight: 600

h4
  font-family: 'Kanit', 'Calibri Light', sans-serif
  font-weight: 500

h5
  font-family: 'Kanit', 'Calibri Light', sans-serif
  font-weight: 400

h6
  font-family: 'Kanit', 'Calibri Light', sans-serif
  font-weight: 300